/* Tag selectors */
h1 {
  text-align: center;
  margin-top: 20px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
/* Class selectors */
.form {
  text-align: center;
  margin-top: 50px;
}
/* ID selectors */
#username:focus,
#password:focus,
#isAustralian:focus,
#reason:focus {
  border-color: #ff6347; /* More obvious border color change (Tomato) */
  background-color: #ffebe8; /* Light background color change */
}
/* Attribute selectors */
select[id='gender'] {
  background-color: #d3d3d3; /* Default background color set to gray */
}

/*  (< 576px) */
/* @media (max-width: 575.98px) {
  .form-container {
    margin: 20px;
  }

  input,
  select,
  textarea {
    width: 100%;
  }
} */

/* (>576px) */
/* @media (min-width: 576px) and (max-width: 767.98px) {
  .form-container {
    margin: 30px;
  }

  input,
  select,
  textarea {
    width: 100%;
  }
} */

/*  (> 768px) */
/* @media (min-width: 768px) and (max-width: 991.98px) {
  .form-container {
    margin: 50px auto;
    width: 75%;
  }

  input,
  select,
  textarea {
    width: 100%;
  }
} */

/* (> 992px) */
@media (min-width: 992px) {
  .form-container {
    margin: 50px auto;
    width: 50%;
  }

  input,
  select,
  textarea {
    width: 100%;
  }
}
